.customize-control-title {
	margin-top: 15px;
	color: rgb(0, 142, 214);
}
.parallax_one_repeater_container {
	width: 100%;
	float: left;
	padding: 5px 0;
}
.parallax_one_repeater_container label {
	float: left;
	width: 73%;
}
button.parallax_one_remove_field {
	display: inline-block;
	width: 25% !important;
	height: 57px !important;
	white-space: initial !important;
	line-height: 17px !important;
	float: right;
}
.parallax_one_repeater_container .parallax_one_icon_link {
	width: 100% !important;
	margin: 3px 0 0 !important;
}
.parallax_one_repeater_container .parallax_one_icons {
	width: 100%;
	margin: 0;
	padding: 0;
}
#parallax_one_new_field {
	width: 100%;
}

