.parallax-one-actions-count {
	display: inline-block;
	z-index: 26;
	margin: 1px 0 0 2px;
	padding: 0 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #d54e21;
	font-size: 9px;
	font-weight: 600;
	line-height: 17px;
	vertical-align: top;
}

.parallax-one-upgrade-to-pro-button {
	padding: 3px 6px !important;
	color: #fff !important;
	background-color: #ea6f60;
	font-size: 9px !important;
	line-height: 1.5 !important;
	letter-spacing: 1px;
	text-transform: uppercase;
}
