.parallax-one-nav-tabs {
	margin-bottom: 0;
}

.parallax-one-nav-tabs:after {
	display: table;
	clear: both;
	content: " ";
}

.parallax-one-nav-tabs > li {
	display: block;
	float: left;
	margin-bottom: -1px;
}

.parallax-one-nav-tabs > li > a {
	display: block;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	text-decoration: none;
}

.parallax-one-nav-tabs > li.active > a,
.parallax-one-nav-tabs > li.active > a:focus,
.parallax-one-nav-tabs > li.active > a:hover {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555;
	background-color: #fff;
}

.parallax-one-nav-tabs > li.parallax-one-w-red-tab > a {
	color: red;
	font-weight: bold;
}

.parallax-one-tab-content {
	float: left;
	width: 960px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #fff;
}

.parallax-one-tab-content > .tab-pane {
	display: none;
}

.parallax-one-tab-content > .active {
	display: block;
}

.parallax-one-tab-pane {
	padding: 30px;
}

.parallax-one-tab-pane {
	display: none;
}

.parallax-one-tab-pane.active {
	display: block;
}

#parallax-one-theme-version {
	padding: 10px;
	background: #ccc;
	font-size: 50%;
}

#parallax-one-w-screenshot {
	margin-top: 30px;
	border: 1px solid #ccc;
}

.parallax-one-w-activated {
	cursor: not-allowed !important;
}

.prallax-one-tab-pane-half {
	float: left;
	width: 45%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	border-left: 1px solid #ccc;
}

.parallax-one-tab-content img {
	max-width: 100%;
}

.prallax-one-tab-pane-first-half {
	border-left: none;
}

.prallax-one-tab-pane-center {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.parallax-one-welcome-title {
	font-size: 32px;
}

.parallax-one-clear {
	clear: both;
}

.parallax-one-child-theme-container {
	position: relative;
}

.parallax-one-child-theme-description {
	overflow: auto;
	position: absolute;
	top: 100%;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: 100%;
	padding: 0;
	color: #fff;
	background-color: #000;
	-webkit-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	-webkit-transition-delay: 500ms;
	transition-delay: 500ms;
}

.parallax-one-child-theme-image-container:hover .parallax-one-child-theme-description {
	display: block;
	top: 0;
	padding: 0 15px;
	opacity: 0.8;
}

.parallax-one-child-theme-image-container {
	overflow: hidden;
	position: relative;
}

.parallax-one-child-theme-image-container img {
	max-width: 100%;
}

.parallax-one-child-theme-details .theme-details {
	padding: 10px;
	background: none repeat scroll 0 0 #f1f1f1;
	font-size: 18px;
}

.parallax-one-child-theme-details .theme-details.active {
	color: #fff;
	background: none repeat scroll 0 0 #2b5f87;
}

.parallax-one-child-theme-details .theme-details .theme-name {
	float: left;
}

.parallax-one-child-theme-details .theme-details .preview {
	margin-right: 2px;
}

.parallax-one-fre-pro table {
	width: 100%;
	border-collapse: collapse;
}

.parallax-one-fre-pro table tr {
	border-bottom: 1px solid #ddd;
}

.parallax-one-fre-pro table td {
	padding: 30px;
}

.parallax-one-fre-pro table th {
	padding-bottom: 30px;
}

.parallax-one-fre-pro table td span.dashicons-before:before {
	width: auto;
	height: auto;
	font-size: 50px;
}

.parallax-one-fre-pro table td span.dashicons-yes:before {
	color: green;
}

.parallax-one-fre-pro table td span.dashicons-no-alt:before {
	color: red;
}

.parallax-one-fre-pro table tr.parallax-one-text-center {
	text-align: center;
}

.parallax-one-actions-count {
	display: inline-block;
	z-index: 26;
	margin: 1px 0 0 2px;
	padding: 0 6px;
	border-radius: 10px;
	color: #fff;
	background-color: #d54e21;
	font-size: 9px;
	font-weight: 600;
	line-height: 17px;
	vertical-align: top;
}

.parallax-one-action-required-box {
	position: relative;
}

.parallax-one-dismiss-required-action {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	color: #fff;
	background-color: #d24a4a;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.parallax-one-dismiss-required-action:hover {
	background-color: #cc8c8c;
}
